*.cache
*.Xil
*.hw
*.ioplanning
*.ip_user_files
*.runs
*.sim
*.swp
*.log
*.jor
*~
*Debug
*.str
*.sdk/u-boot*
*.sdk/BOOT.bin
*.sdk/image.ub
*.srcs/sources_1/bd/brd/ipshared
*.srcs/sources_1/bd/brd/sim
